// Theme / Brand
$accent-pink: #EF3A95;
$accent-pink-dark: #EE85B5;

// Colours
$blue-mid: #DAE1E7;
$blue-dark: #FAFAFA;
$blue-darker: #FCFCFC;
$blue-darkest: #E9EBF1;

$grey-mid: #B3BFC6;
$grey-darkest: #E6E6E6;

$red: #E02453;

// Text
$text-bright: #1F2729;
$text-grey: #4E5255;
