.button {
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 20px;
	font-weight: bold;

	transition: opacity .2s ease;

	&[disabled] {
		cursor: not-allowed;
		opacity: .4;
	}
	&--primary {
		color: $text-bright;
		background-color: $accent-pink;
	}
}
