.login-form {
	> p, > input, > div {
		margin-bottom: 10px;
	}
	&__input {
		width: 100%;
		color: $text-bright;
		border: 1px solid $grey-dark;
		border-radius: 3px;
		padding: 10px;
	}
}
