.login-form {
	padding: 15px;
	box-shadow: 0 0 12px 4px #1a1a1a;

	:not(:last-child) {
		margin-bottom: 10px;
	}
	&__input {
		width: 100%;
		font-size: 1rem;
		color: $text-bright;
		border: 1px solid $grey-mid;
		border-radius: 3px;
		padding: 4px 10px;
	}
	&__submit {
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
}
