.post-list {
	& > div:first-of-type {
		border-top: 1px solid $border-panel;
	}
	& > div:not(:last-of-type) {
		border-bottom: 1px solid $border-panel;
	}
}
.post {
	padding: 10px;

	> div:not(:last-of-type) {
		margin-bottom: 10px;
	}
	&__age {
		color: $text-grey;
	}
	&__content {
		p {
			font-size: 1rem;
		}
	}
	&__button {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		color: $text-grey;

		&-icon {
			display: inline-flex;
			align-items: center;
			width: 20px;
			height: 20px;

			svg {
				width: 100%;
				height: 100%;
			}
		}
		&-number {
			margin: 0 6px;
		}
		&-like {
			svg {
				fill: #fE1C1C;
			}
		}
	}
}
