.session {
	position: relative;
	display: flex;
	align-items: center;

	&__login-link {
		cursor: pointer;
	}
	&__dropdown {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		min-width: 300px;
		background-color: $blue-darker;

		&--open {
			display: block;
		}
	}
}
