.session {
	position: relative;
	display: flex;
	align-items: center;

	&__login-link {
		cursor: pointer;
	}
	&__dropdown {
		$dim: 20px;
		display: none;
		position: absolute;
		top: 56px + $dim / 2;
		right: 0;
		min-width: 300px;
		background-color: $blue-darker;
		box-shadow: 0 0 12px 4px $grey-darkest;
		
		&:before {
			content: "";
			width: 0;
			height: 0;

			position: absolute;
			bottom: 100%;
			right: 10%;

			border-top: $dim solid transparent;
			border-left: $dim solid transparent;
			border-right: $dim solid transparent;
			border-bottom: $dim solid $blue-darker;

			filter: drop-shadow(0px -5px 6px $grey-darkest);
		}
		&--open {
			display: block;
		}
	}
}
