.session {
	position: relative;
	display: flex;
	align-items: center;

	&__login-link {
		cursor: pointer;
	}
	&__dropdown {
		position: absolute;
		top: 100%;
		right: 0;
		min-width: 260px;
		background-color: $blue-darker;
		padding: 10px;
	}
}
