.user-entry {
	padding: 15px;
	
	> :not(:last-child) {
		margin-bottom: 15px;
	}
	hr {
		border: none;
		height: 1px;
		background-color: $blue-mid;
	}
	&__input {
		width: 100%;
		font-size: 1rem;
		color: $text-bright;
		border: 1px solid $grey-mid;
		border-radius: 5px;
		padding: 4px 10px;
	}
	&__submit {
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
	&__prompt {
		text-align: center;
		cursor: pointer;
	}
}
