.content-container {
	padding-top: 80px;

	.content {
		max-width: $content-width;
		margin: 0 auto;
		display: flex;
		align-items: flex-start;

		&__panel {
			flex: 1;
		}
		@import "../components/_SiteInfoPanel.scss";
		@import "../components/_FeedPanel.scss";
	}
}
