.input-text {
	display: block;
	font-size: 1rem;
	color: $text-bright;
	border: 1px solid $grey-mid;
	border-radius: 5px;
	padding: 4px 10px;

	&[disabled] {
		background-color: $blue-darkest;
		cursor: not-allowed;
	}
}

.input-file {
	display: block;
	font-size: 1rem;
	color: $text-grey;
}

.input-label {
	display: block;
	font-size: 1rem;
	color: $text-bright;
}
