meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(property="og:title" content="Shoutout")
meta(property="og:image" content="/images/logo/logo-maxres-icon-transparent.png")
if manifest
	link(rel="stylesheet" href="/" + manifest["css/main.css"])
title #{title ? (`${title} - Shoutout`) : "Shoutout"}
