body {
	background-color: $blue-darkest;
	font-family: "Arial", sans-serif;
	color: $text-bright;
}
a {
	color: inherit;
	text-decoration: none;
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}
u {
	text-decoration: underline;
}
h1 {
	font-size: 2.6rem;
	font-weight: bold;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.17rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: .83rem;
}
h6 {
	font-size: .75rem;
}
input, textarea, button {
	background: none;
	border: none;
	outline: none;
	box-sizing: border-box;
}

// Mixins
@import "./mixins/_media-queries.scss";
@import "./mixins/_loading-overlay.scss";

// Partials
@import "./partials/_content.scss";
@import "./partials/_card.scss";
@import "./partials/_button.scss";
@import "./partials/_divider.scss";
@import "./partials/_form.scss";
@import "./partials/_nav.scss";

// Pages
@import "./pages/_Profile.scss";
@import "./pages/_Settings.scss";
@import "./pages/_Attribution.scss";
@import "./pages/_NotFound.scss";

// Components
// Panels
@import "./components/_PanelSiteInfo.scss";
@import "./components/_PanelFeed.scss";
@import "./components/_PanelPost.scss";

// Modular
@import "./components/_Header.scss";
@import "./components/_Dropdown.scss";
@import "./components/_Avatar.scss";
@import "./components/_Banner.scss";
@import "./components/_ErrorList.scss";
@import "./components/_ThemeToggleButton.scss";
@import "./components/_LoadingIndicator.scss";

// User entry (Login/Logout)
@import "./components/_SessionDetails.scss";
@import "./components/_UserEntry.scss";
@import "./components/_FormLogin.scss";
@import "./components/_FormSignup.scss";

// Users
@import "./components/_ProfileCard.scss";
@import "./components/_ProfileFeedPicker.scss";
@import "./components/_FollowList.scss";
@import "./components/_FormSettings.scss";

// Posts
@import "./components/_FormPost.scss";
@import "./components/_PostList.scss";
@import "./components/_Post.scss";

// Stats
@import "./components/_SiteStats.scss";
