.form-settings {
	margin: 15px;

	@include loading-overlay;
	
	> :not(:last-child) {
		margin-bottom: 22px;
	}
	&__input-text {
		min-width: 240px;
	}
	&__preview {
		display: flex;
		align-items: center;

		:not(:last-child) {
			margin-right: 10px;
		}
		&-text {
			color: $text-grey;
		}
		&--avatar {
			.avatar__image {
				border: none;
				object-fit: cover;
			}
		}
		&--banner {
			.banner {
				width: 300px;
				height: 100px;
			}
		}
	}
}
