@import "../mixins/_loading-overlay.scss";

.form-post {
	border-bottom: 1px solid $blue-mid;
	overflow: auto;

	@include loading-overlay;

	&__author, &__form {
		margin: 10px;
	}
	&__author {
		color: $text-grey;

		b {
			color: $text-bright;
			font-weight: normal;
		}
	}
	&__form {
		> :not(:last-child) {
			margin-bottom: 10px;
		}
	}
	&__text {
		display: block;
		width: 100%;
		padding: 10px;
		border-radius: 10px;
		border: 1px solid $accent-pink;
		resize: none;
		overflow: hidden;
		
		font-size: 1.1rem;
		line-height: 1.1rem;
		font-family: inherit;
		color: $text-bright;

		transition: border-radius .1s ease, padding-bottom .1s ease;

		&:focus, &:valid {
			border-radius: 5px;
			padding-bottom: 5rem;
		}
	}
	&__toolbar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		
		> :not(:last-child) {
			margin-right: 10px;
		}
	}
	&__length {
		color: $text-grey;

		&--disabled {
			color: $red;
		}
	}
}
