.form-signup {
	> :not(:last-child) {
		margin-bottom: 12px;
	}
	&__name-container {
		position: relative;

		&:before {
			content: "@";
			color: $text-bright;
			background-color: $blue-mid;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;

			position: absolute;
			top: 0;
			bottom: 0;
			left: -1px;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 40px;
		}
	}
	&__name {
		padding-left: 45px;
	}
}
