.header-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	z-index: 1;
	background-color: $blue-darker;
	color: $text-grey;
}

.header {
	max-width: $content-width;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 100%;
	
	&__section {
		flex: 1;
	}
	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: auto;
			height: 36px;
		}
	}
	&__extra {
		display: flex;
		justify-content: flex-end;
	}
	@include for-laptop-down {
		max-width: $content-width-bigger;
	}
	@include for-mobile-down {
		.nav__link-top {
			display: none;
		}
		&__logo {
			display: none;
		}
	}
}
