.header-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	z-index: 1;
	background-color: $blue-darker;
	color: $text-grey;

	.header {
		max-width: $content-width;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		height: 100%;
		
		&__nav {
			display: flex;
			align-items: center;
		}
		&__logo {
			display: flex;
			align-items: center;

			img {
				width: 24px;
				height: 24px;
				transform: rotateZ(-36deg);
			}
		}
		&__extra {
			display: flex;
		}
	}
}
