.header-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	z-index: 1;
	background-color: $blue-darker;
	color: $text-grey;
}

.header {
	max-width: $content-width;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 100%;
	
	&__section {
		flex: 1;
	}
	&__nav {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
	}
	&__link {
		display: flex;
		align-items: center;
		padding: 0 20px;
		color: $text-grey;
		transition: color .1s ease;

		&:hover {
			color: $text-bright;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 24px;
			height: 24px;
			transform: rotateZ(-36deg);
		}
	}
	&__extra {
		display: flex;
		justify-content: flex-end;
	}
}
