.panel-feed {
	flex: 2;

	&__more {
		display: block;
		width: 100%;
		padding: 16px;
		// border-top: 1px solid $blue-mid;
		background-color: $accent-pink-dark;
		
		font-size: 1rem;
		text-align: center;
		color: $text-bright;

		cursor: pointer;
	}
	&__end {
		display: block;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		border-top: 1px solid $blue-mid;

		font-size: 1rem;
		font-style: italic;
		text-align: center;
		color: $text-grey;
	}
}
