.panel-site-info {
	> :not(:last-child) {
		margin-bottom: 10px;
	}
	&__section {
		padding: 16px 0;
		color: $text-grey;
		text-align: center;
	}
	&__links {
		font-size: .9rem;

		> :not(:last-child) {
			&:after {
				content: "\2022";
				display: inline-block;
				margin: 0 5px;
			}
		}
	}
	&__link {
		&:hover {
			text-decoration: underline;
		}
	}
	@include for-tablet-down {
		align-self: center;
		margin-top: 10px;
		width: 50%;
	}
	@include for-mobile-down {
		width: 100%;
	}
}
