.profile-card {
	.banner {
		height: 33.33%;
	}
	&__info {
		display: flex;
		align-items: center;
		
		.avatar {
			margin: 0 10px;

			&__image {
				width: auto;
				height: 60px;
				margin-top: -50%;
			}
		}
		> :not(:last-child) {
			margin-right: 10px;
		}
	}
	&__names {
		overflow: hidden;
		margin: 10px 0 10px 0;

		p {
			line-height: 1.2rem;
		}
	}
	&__nick {
		color: $text-bright;
		font-size: 1.2rem;
		font-weight: bold;

		white-space: nowrap;
		margin-right: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__name {
		color: $text-grey;
	}
	&__follow {
		margin: 10px;
		margin-top: 0;
	}
	&--settings & {
		&__settings {
			display: block;
		}
		&__names {
			margin-right: 0px !important;
		}
	}
	&__settings {
		display: none;
		
		&-link:hover &-icon svg {
			transform: rotateZ(180deg);
		}
		&-link {
			width: 50px;
			height: 50px;
			margin: 0 auto;
			
			a {
				display: block;
				padding: 14px;
			}
		}
		&-icon {
			width: 100%;
			height: 100%;

			svg {
				fill: $text-grey;
				transition: transform .2s ease;
			}
			path {
				fill: inherit;
			}
		}
	}
}
