.user-entry {
	padding: 15px;
	
	> :not(:last-child) {
		margin-bottom: 15px;
	}
	.input-text {
		width: 100%;
	}
	&__submit {
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
	&__prompt {
		text-align: center;
		cursor: pointer;
	}
}
