meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
if manifest
	link(rel="stylesheet" href=manifest["css/global.css"])
title #{title ? (`${title} - Shoutout`) : "Shoutout"}
