.page-attribution {
	.attribution {
		padding: 20px;

		a {
			color: $accent-pink;
		}
		&__header {
			margin-bottom: 10px;
		}
		&__list {
			> :not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
}
