.page-notfound {
	.notfound {
		padding: 20px 0px 40px 20px;
		
		> :not(:last-child) {
			margin-bottom: 16px;
		}
		&__header {
			font-size: 6rem;
			font-weight: bold;
		}
		&__text {
			font-size: 1.4rem;
		}
		&__link {
			color: $accent-pink;
			font-size: 1.1rem;
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
