.page-profile {
	> .banner {
		width: $content-width;
		margin: 0 auto;
	}
	.content {
		padding: 0;
		margin-top: -20px;
	}
	.content__panel {
		&.panel-feed {
			flex: 3;
		}
		@include for-tablet-down {
			&.profile-card {
				margin-bottom: 10px;
			}
		}
	}
}
