.page-profile {
	.content__panel {
		&.panel-feed {
			flex: 3;
		}
		@include for-tablet-down {
			&.profile-card {
				margin-bottom: 10px;
			}
		}
	}
	@include for-tablet-up {
		> .banner {
			width: $content-width;
			margin: 0 auto;
		}
		.content {
			padding-top: 0;
			margin-top: -20px;
		}
	}
	@include for-tablet-down {
		> .banner {
			display: none;
		}
	}
}
