// Theme / Brand
$accent-pink: #EF3A95;

// Colours
$blue-mid: #4e6174;
$blue-dark: #1b2937;
$blue-darker: #1C2938;
$blue-darkest: #181E23;

$grey-mid: #8F9BA3;

$red: #FE1C1C;

// Text
$text-bright: #F0F0F0;
$text-grey: #ABB6BF;
