// Backgrounds
$bg-primary: #1C2938;
$bg-dark: #181E23;
$bg-panel: #1b2937;

// Borders
$border-panel: #4e6174;
$border-pink: #EF3A95;

// Text
$text-bright: #F0F0F0;
$text-grey: #ABB6BF;
