body {
	background-color: $bg-dark;
	color: $text-bright;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	background-color: $bg-primary;
	color: $text-grey;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		max-width: 60%;
		margin: 0 auto;

		.header__logo img {
			width: 24px;
			height: 24px;
			transform: rotateZ(-36deg);
		}
	}
}
