@import "./sections/_UserPanel.scss";
@import "./sections/_PostFeed.scss";
@import "./sections/_SiteInfo.scss";

body {
	background-color: $bg-dark;
	color: $text-bright;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	background-color: $bg-primary;
	color: $text-grey;

	&__inner {
		max-width: $content-width;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		.header__logo img {
			width: 24px;
			height: 24px;
			transform: rotateZ(-36deg);
		}
	}
}

.content {
	padding-top: 80px;

	&__inner {
		max-width: $content-width;
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
	}
	&__panel {
		flex: 1;
		padding: 10px;
		background-color: $bg-panel;
		border: 1px solid $border-panel;
		border-radius: 3px;
	}
	.user {
		@include UserPanel;
	}
	.feed {
		@include PostFeed;
	}
	.site-info {
		@include SiteInfo;
	}
}
