body {
	background-color: $bg-dark;
	font-family: "Arial", sans-serif;
	color: $text-bright;
}

@import "./sections/_UserPanel.scss";
@import "./sections/_PostFeed.scss";
@import "./sections/_SiteInfo.scss";
@import "./sections/content.scss";

@import "./components/_Header.scss";
@import "./components/_PostForm.scss";
@import "./components/_Post.scss";
