doctype html
html(lang="en")
	head
		include ../includes/head
		block head
	body
		main#content
			block content
		include ../includes/footer
		script(src=manifest["js/vendor.js"])
		block scripts
